<p>
    <center>

        <h4><strong>Universidad Francisco de Paula Santander</strong></h4> <br>

        Avenida Gran Colombia No. 12E-96 Barrio Colsag <br>
        San José de Cúcuta - Colombia <br>
        Teléfono (057)(7) 5776655 <br>
        Correo: oficinadeprensa@ufps.edu.co <br>

    </center>

</p>