<!DODCTYPE html>

<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />


<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://ww2.ufps.edu.co/assets/img/ico/favicon.ico" rel="Shortcut icon">

    <link rel="shortcut icon" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" type="text/css" href="/public/libraries/font-awesome/css/font-awesome.css" media="screen, projection">
    <link rel="stylesheet" type="text/css" href="/public/libraries/jquery-bxslider/jquery.bxslider.css" media="screen, projection">
    <link rel="stylesheet" type="text/css" href="/public/libraries/flexslider/flexslider.css" media="screen, projection">
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css" media="screen, projection" id="css-main">

    <link href="http://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" type="text/css">

    <!--Leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>

    <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">
  
    <title>
        UFPS | Geo-Extension
    </title>
</head>

<body>

    <div id="wrapper">
        <div id="header-wrapper">
            <div id="header">
                <div id="header-inner">
                    <div class="header-bar">
                        <div class="container">
                            <div class="header-infobox">
                                <a href="https://ww2.ufps.edu.co/vicerrectoria/vicerrectoria-asistente-de-investigacion-y-extension/1442">
                                    Vicerrectoría Asistente de Investigación y Extensión
                                </a>
                            </div>
                            <!-- /.header-infobox-->
                            <ul class="header-bar-nav nav nav-register">
                                <li><a href="/login">Administrar Proyectos</a></li>
                            </ul>
                        </div>
                        <!-- /.container -->
                    </div>
                    <!-- /.header-bar -->

                    <div class="header-top">
                        <div class="container">
                            <div class="header-identity">
                                <a href="#" class="header-identity-target">
                                    <span class="header-icon"><i class="fa fa-map-marker" ></i></span>
                                    <span class="header-title">Geo-Extension</span>
                                    <!-- /.header-title -->
                                    <span class="header-slogan">Sistema de Georreferenciación<br>Para los proyectos de extensión de la UFPS</span>
                                    <!-- /.header-slogan -->
                                </a>
                                <!-- /.header-identity-target-->
                            </div>
                            <!-- /.header-identity -->

                            <div class="header-actions pull-right">
                                <a href="https://ww2.ufps.edu.co/" class="btn btn-regular">
                                    <img src="/public/img/ufps/logo-horizontal-blanco.png" alt="Logo UFPS" style="width: 220px; margin-top: -17px;">
                                </a>
                            </div>
                            <!-- /.header-actions -->

                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".header-navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                        </div>
                        <!-- /.container -->
                    </div>
                    <!-- .header-top -->

                    <div class="header-navigation">
                        <div class="container">
                            <div class="row">
                                <ul class="header-nav nav nav-pills">
                                    <li>
                                        <a href="/">Mapa</a>
                                    </li>

                                    <li>
                                        <a href="/proyectos">Proyectos</a>
                                    </li>

                                    <li>
                                        <a href="/convocatoria">Convocatoria</a>
                                    </li>

                                    <li>
                                        <a href="/contacto">Contacto</a>
                                    </li>
                                </ul>
                                <!-- /.header-nav -->
                                <div class="form-search-wrapper col-sm-3">
                                    
                                </div>
                            </div>
                        </div>
                        <!-- /.container -->
                    </div>
                    <!-- /.header-navigation -->
                </div>
                <!-- /.header-inner -->
            </div>
            <!-- /#header -->
        </div>
        <!-- /#header-wrapper -->
        {{{body}}}

        <div id="footer-wrapper">
            <div id="footer">
                <div id="footer-inner">
                    <div class="footer-bottom">
                        <div class="container">
                            <p class="center no-margin">
                                &copy; 2019, Universidad Francisco de Paula Santander. Todos los derechos reservados.
                            </p>

                            <div class="center">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                                <!-- /.social -->
                            </div>
                            <!-- /.center -->
                        </div>
                        <!-- /.container -->
                    </div>
                    <!-- /.footer-bottom -->
                </div>
                <!-- /#footer-inner -->
            </div>
            <!-- /#footer -->
        </div>
        <!-- /#footer-wrapper -->
    </div>
    <!-- /#wrapper -->
    <script src ="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    
    <script type="text/javascript" src="/public/libraries/isotope/jquery.isotope.min.js"></script>

    <script type="text/javascript" src="/public/libraries/bootstrap-sass/vendor/assets/javascripts/bootstrap/transition.js"></script>
    <script type="text/javascript" src="/public/libraries/bootstrap-sass/vendor/assets/javascripts/bootstrap/collapse.js"></script>
    <script type="text/javascript" src="/public/libraries/jquery-bxslider/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/public/libraries/flexslider/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/public/js/jquery.chained.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="/public/js/geo-extension.js"></script>

    <!--CK-Editor-->
    <script>
        CKEDITOR.replace('descripcion');
        CKEDITOR.replace('descripcion_institucion');
    </script>
</body>

</html>