<div id="main-wrapper">
        <div id="main">
            <div id="main-inner">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="container">
                            <div class="block-content block-content-small-padding">
                                <div class="block-content-inner">
                                    <h2 class="center">Registrar Proyecto de Extensión</h2>

                                    <form action="/links/add_project" method="POST">
                                        <div class="box">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Código del Proyecto</label>
                                                        <input type="text" class="form-control" name="codigo" required>
                                                    </div><!-- /.form-group -->
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Nombre del Proyecto</label>
                                                        <input type="text" class="form-control" name="nombre" required>
                                                    </div><!-- /.form-group -->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Programa académico</label>
                                                        <input type="text" class="form-control" name="programa" required>
                                                    </div><!-- /.form-group -->
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>N° de Convenio</label>
                                                        <input type="text" class="form-control" name="convenio">
                                                    </div><!-- /.form-group -->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Meses de duración</label>
                                                        <input type="text" class="form-control" name="duracion" required>
                                                    </div><!-- /.form-group -->
                                                </div>

                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        <label>Fecha de inicio</label>
                                                        <input type="date" class="form-control" name="fecha_inicio" required>
                                                    </div><!-- /.form-group -->
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        <label>Fecha de Finalización</label>
                                                        <input type="date" class="form-control" name="fecha_fin" required>
                                                    </div><!-- /.form-group -->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Población</label>
                                                        <input type="text" class="form-control" name="poblacion">
                                                    </div><!-- /.form-group -->
                                                </div>

                                                <div class="col-sm-8">
                                                    <div class="form-group">
                                                        <label>Grupo de Investigación</label>
                                                        <input type="text" class="form-control" name="grupo_investigacion">
                                                    </div><!-- /.form-group -->
                                                </div>
                                                <div class="col-sm-2">
                                                    <!-- Default inline 1-->
                                                    <label>Estado</label>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" value="en_ejecucion" id="en_ejecucion" name="estado">
                                                        <label class="custom-control-label" for="en_ejecucion">En ejecución</label>
                                                    </div>
                                                    <!-- Default inline 2-->
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" value="finalizado" id="finalizado" name="estado">
                                                        <label class="custom-control-label" for="finalizado">Finalizado</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label>Descripción del proyecto</label>
                                                        <p>Haga una breve descripción acerca del proyecto, incluyendo 
                                                           los siguientes ítems: <i>Objetivo General, Objetivos específicos, 
                                                           Problema, Justificación, alcance.</i> Puedes agregar alguna otra información 
                                                           que sea de relevancia para su proyecto.</p>

                                                        <textarea class="form-control" name="descripcion" rows="6"></textarea>
                                                    </div><!-- /.form-group -->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label>Correo de contacto</label>
                                                        <input type="email" class="form-control" name="correo">
                                                    </div><!-- /.form-group -->
                                                </div>
                                           </div>
                                        </div><!-- /.box -->
                                        
                                        <div class="form-group center">
                                            <input type="submit" value="Registrar Proyecto" class="btn btn-inversed btn-primary">
                                        </div><!-- /.form-group -->
                                    </form>
                                </div><!-- /.block-content-inner -->
                            </div><!-- /.block-content -->
                        </div><!-- /.container -->
                    </div>
                    {{>right_sidebar}}
                </div>
            </div><!-- /#main-inner -->
        </div><!-- /#main -->
    </div><!-- /#main-wrapper -->